<!-- Content Area -->
<section id="main-layout" class="main-layout">
    <!-- Todo: add header here -->
    <header>
        <h1>App</h1>
        <div class="logged-in-user">
            <div class="user-name">Welcome User</div>
        </div>
    </header>
    
    <section class="main-content-wrapper">
        <aside>
            <ul>
                <li>
                    <a title="users">
                        <i class="fas fa-users fa-2x"></i>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="main-content-container">
            <ui-view></ui-view>
        </div>
    </section>

    <!-- Todo: add footer here -->
</section>