$spinner-size: 40px;

.spinner {
    width: $spinner-size;
    height: $spinner-size;
    background-color: $primary-link-color;
    margin: 25px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;

    &.light {
        background-color: lighten($primary-color, 100%);
    }
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &:before {
        content: 'Loading...';
        color: $text-color;
        position: absolute;
        left: calc(100%/2 - 29px);
        top: calc(100% / 2 - 45px);
        font-size: 14px;
        font-weight: 500;
    }

    .spinner {
        position: absolute;
        background: $primary-link-color;
        left: calc(100%/2 - #{$spinner-size}/2);
        top: calc(100% / 2 - #{$spinner-size}/2);
        margin: 0;
    }
}